<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Life balance</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<div>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Life balance</a>
    <form th:action="@{/logout}" method="post">
      <button type="submit" class="btn btn-primary">Logout</button>
    </form>
  </nav>
  <div class="container">
    <div class="card mx-auto col-6 shadow p-3 mb-5 bg-white rounded mt-5">
      <div class="card-header">
        <h5 class="text-center">Goal</h5>
      </div>
      <div class="card-body">
        <form th:action="@{/goal/createOrUpdateGoal}" th:object="${goal}" method="post">
          <div class="form-group">
            <input th:field="*{id}" type="hidden"/>
            <label>What do you want to reach</label>
            <input th:field="*{name}" name="name" type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="3" th:field="*{description}" name="description"></textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Manage</button>
        </form>
      </div>
    </div>
  </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
</body>

</html>